<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
        color: navy;
      }

      .special {
        color: green;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>

    {{{ body }}}

    <script>
      console.log('Hello world');
    </script>
  </body>
</html>
