<form action="/channel/create" method="POST">
  <label for="name-input">Channel Name</label>
  <input id="name-input" type="text" name="name" placeholder="Name">

  <button>Create Channel</button>
</form>
