<form action="" method="POST" enctype="multipart/form-data">
  <label for="picture-input">Picture</label>
  <input id="picture-input" name="picture" type="file" />

  <label for="message-input">Message</label>
  <textarea name="message" id="message-input" placeholder="Message"></textarea>

  <button>Submit Post</button>
</form>
