<html>
  <head>
    <title>Example Network</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Network</a>
      <a href="/channel/create">Create Channel</a>
    </nav>
    {{{ body }}}
  </body>
</html>