<div class="single-movie">

    {{> movieitem movie}}

  <div class="main-details">
    <h3>Released on {{ movie.Released }} </h3>
    <p>Directed by {{ movie.Director }} </p>
    <p>Starring {{ movie.Actors }} </p>
  </div>
</div>