<html>
  <head>
    <title>Example Network</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
    </nav>
    {{{ body }}}
  </body>
</html>