<form action="" method="POST">
  <label for="email-input">Email</label>
  <input id="email-input" type="email" name="email" placeholder="Valid Email">

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Strong Password">

  <button>Sign In</button>
</form>
