body {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 40em; }

a {
  color: inherit; }

input,
button,
textarea {
  font: inherit;
  padding: 1em;
  border: 1px solid #cdcdcd; }

label {
  margin-bottom: 1em; }

form {
  display: flex;
  flex-direction: column; }
  form input {
    margin: 0 0 1em 0; }

nav {
  display: flex; }
  nav a {
    text-decoration: none;
    padding: 1em 0;
    margin-right: 1em; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }
